<section class="page-content page-content--contact">
  <h2>Collections</h2>

  <p>We'll soon be launching a range of products you can purchase. In the meantime, if you'd like to view some of our previous work take a look at the gallery.</p>
</section>