<header class="site-header">
  <div class="container">

    <a href="/admin/images" class="site-logo">
      Fallen Leaf Furniture
    </a>

    <%= render "layouts/admin/navigation" %>

  </div>
</header>