<section class="page-content page-content--about">

  <p>Fallen Leaf furniture was created to produce bespoke handmade furniture using traditional techniques and beautiful quality timbers. The aim is to craft pieces that are aesthetically stunning, sculpturally complex and that pay homage to the material used.</p>

  <p>Using exquisite timbers from sustainable sources and nearly a decade of woodworking experience, Fallen Leaf furniture aspires to change the perceptions of furniture and the relationship we have with it.</p>

</section>