<section class="page-content page-content--contact">
  <h2>Contact</h2>

  <p>
    +44 (0) 7986 154 441 <br>
    <a href="mailto:commissions@fallenleaf.co">commisions@fallenleaf.co</a>
  </p>

  <p>
    Instagram: <a href="http://instagram.com/fallenleaffurniture">@fallenleaffurniture</a><br>
    Twitter: <a href="http://twitter.com/cf_fallenleaf">@cf_fallenleaf</a>
  </p>
</section>