<header class="page-header">
  <h1 class="page-header__title">Editing <%= resource.name %></h1>

  <%= link_to 'All images', admin_images_path,
                 class: "button button--secondary page-header__cta" %>
</header>

<%= render "form" %>