<div class="gallery">
  <ul class="gallery__items">
    <% @images.each do |image| %>
      <li class="gallery__item">
        <a href="<%= image_path(image) %>">
          <img data-full="<%= image.source.url(:full) %>"
              src="<%= image.source.url(:square) %>" class="gallery__item__img">
        </a>
      </li>
    <% end %>
  </ul>
</div>