<footer class="site-footer">
  <nav class="site-footer__items">
    <ul class="social-icons__items">
      <!-- <li class="social-icons__item">
        <a href="https://www.facebook.com/beynonstudio" class="social-icons__item__link social-icons__item__link--facebook">
          <span class="social-icons__item__text">
            Facebook
          </span>
        </a>
      </li> -->
      <li class="social-icons__item">
        <a href="https://twitter.com/cf_fallenleaf" class="social-icons__item__link social-icons__item__link--twitter">
          <span class="social-icons__item__text">
            Twitter
          </span>
        </a>
      </li>
      <li class="social-icons__item">
        <a href="http://instagram.com/fallenleaffurniture" class="social-icons__item__link social-icons__item__link--instagram">
          <span class="social-icons__item__text">
            Instagram
          </span>
        </a>
      </li>
    </ul>
  </nav>
</footer>