<header class="site-header">
  <%= link_to root_path, class: "site-header__logo" do %>
    <span class="site-header__logo__script">
      Fallen Leaf Furniture
    </span>
  <% end %>

  <%= render "layouts/navigation" %>
</header>